{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta.html" %}

    {% set cssPath = '/_/css/style' %}
        {% if process.env.NODE_ENV == 'production' %}
        {% set cssPath = cssPath + '.min.css?hash=' + assetHash %}
    {% else %}
        {% set cssPath = cssPath + '.css' %}
    {% endif %}
    <link rel="stylesheet" href="{{ cssPath | url }}">

    <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}">
    <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | url }}" />
</head>

<body id="{% if page.url == '/' %}home{% elif page.url == '/blog/' %}blog{% elif page.url.indexOf('/blog/') === 0 %}blog-post{% elif page.url == '/reading/' %}reading{% elif page.url == '/tickets/' %}tickets{% elif page.url == '/pattern-library/' %}pattern{% elif page.url == '/work/' %}work{% elif page.url.indexOf('/work/') === 0 %}case-study{% elif page.url == '/404.html' %}error{% else %}{% endif %}">

    <div class="wrapper">
        {% include "partials/header.html" %}
        <main tabindex="-1" id="main">
            {% block content %}{% endblock %}
        </main>
        {% include "partials/footer.html" %}
    </div>

    {% if page.url == '/' %}
        {% set jsPath = '/_/js/master.min.js?hash=' + assetHash %}
        <script src="{{ jsPath | url }}"></script>
    {% endif %}

    {% if '/work/' in page.url and page.url != '/work/' %}
        {% set projectJsPath = '/_/js/project.min.js?hash=' + assetHash %}
        <script src="{{ projectJsPath | url }}"></script>
    {% endif %}

</body>
</html>