@charset "UTF-8";
/* root */
:root {
  --body-bg: #FFFFFF;
  /*--text: #262626;*/
  --text: #1D1D1F;
  /*--text-emph: #A6A6A6;*/
  --text-emph: #6E6E73;
  /*--text-emph: #75757A*/;
  --border: #F2F2F2;
  /*
  --link: #3333ff;
  */
  --link: #0096f7;
  --img-bg: #FAFAFA;

  --warning: #fec400;
  --selectionBackground: hsla(55, 100%, 50%, 1);
  --selectionText: hsla(0, 13%, 13%, 1);

  --brand-fsqcityguide: #F94877;
  --brand-fsqcityguide-light: #FFE6EC;
  --brand-fsqswarm: #FFA633;
  --brand-fsqswarm-light: #FFF3DD;
  --brand-fsqlabs: #1791FF;
  --brand-fsqlabs-light: #E3F1FF;

  --font-size-one: 12px;
  --font-size-two: 14px;
  --font-size-three: 19px;
  --font-size-four: 24px;
  --font-size-five: 28px;
  --font-size-six: 48px;

  --line-height-one: 1.3333733333;
  --line-height-two: 1.2857742857;
  --line-height-three: 1.4211026316;
  --line-height-four: 1.1666666667;
  --line-height-five: 1.1428571429;
  --line-height-six: 1.0834933333;

  --spacing-unit: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #2b2d32;
    --text: #ffffff;
    --text-emph: #abb0bb;
    --border: #3e4045;
    --img-bg: #2F3136;
    /*--img-bg: #34363B;*/
  }

  p {
    word-spacing: 0.05em;
  }

  .callout {
    color: var(--body-bg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
::selection {
    background: var(--selectionBackground);
    color: var(--selectionText)
}

::-moz-selection {
    background: var(--selectionBackground);
    color: var(--selectionText)
}
*/

mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.4em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  /*color: var(--link);*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
}

strong {
  font-weight: 600;
}

small {
  font-size: 75%;
}

/*
code,
pre,
small,
figure,
figcaption {
  font-weight: 300;
  line-height: 1.5em;
}
*/

figcaption {
  font-size: var(--font-size-one);
  font-weight: 600;
  line-height: var(--line-height-one);
  padding: calc(1 * var(--spacing-unit)) 0 0 0;
  text-align: center;
}

figcaption span {
  color: var(--text-emph);
  display: block;
}

abbr {
  text-decoration: none;
}

blockquote {
  border-left: calc(0.5 * var(--spacing-unit)) solid var(--border);
  margin-left: calc(-2.5 * var(--spacing-unit));
  padding-left: calc(2 * var(--spacing-unit));
}

pre,
code {
  background: var(--border);
  border-radius: 2px;
  color: var(--text);
  font-family: "Input Mono", "Source Code Pro", "Monaco", monospace;
  font-size: inherit;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-letter-spacing: -0.025em;
  -moz-letter-spacing: -0.025em;
  -ms-letter-spacing: -0.025em;
  letter-spacing: -0.025em;
  line-height: inherit;
  tab-size: 2;
  text-align: left;
  vertical-align: baseline;
}

pre {
  box-sizing: content-box;
  overflow: auto;
  padding: calc(3 * var(--spacing-unit));
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre code {
  font-family: inherit;
  box-shadow: none;
  background-color: transparent;
}

code {
  font-size: var(--font-size-two);
  line-height: var(--font-size-two);
  padding: calc(0.5 * var(--spacing-unit)) calc(1 * var(--spacing-unit));
  border-radius: calc(0.5 * var(--spacing-unit));
}

img,
iframe,
video {
  display: block;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

body {
  background-color: var(--body-bg);
  color: var(--text);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-three);
  line-height: var(--line-height-three);
  font-weight: 400;
  min-height: 100vh;
  padding: 0 calc(2 * var(--spacing-unit));
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body, button, input, select, textarea {
  font-synthesis: none;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

.skip-link,
.visually-hidden {
  font-size: var(--font-size-one);
  position: absolute;
  text-align: center;
  padding: 1em;
  top: 0;
  text-decoration: underline;
  z-index: 99993;
  left: 50%;
  transition: -webkit-transform 0.166s;
  transition: transform 0.166s;
  transition: transform 0.166s, -webkit-transform 0.166s;
  -webkit-transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  transform: translate(-50%, -110%);
  opacity: 0;
  pointer-events: none;
}

.skip-link:focus {
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 1;
}˙

#main-content:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--font-size-four);
  line-height: var(--line-height-four);
}

h2 {
  font-size: var(--font-size-six);
  line-height: var(--line-height-six);
  letter-spacing: -0.005em;
}

h3 {
  font-size: var(--font-size-five);
  /*font-weight: 500;*/
  line-height: var(--line-height-five);
}

h4 {
  font-size: var(--font-size-three);
  line-height: var(--line-height-three);
}

h5 {
  color: var(--text-emph);
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  margin: 0;
}

p {
  margin-bottom: calc(3 * var(--spacing-unit));
}

.callout {
  background: var(--warning);
  border-radius: calc(var(--spacing-unit));
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  padding: calc(2 * var(--spacing-unit));
  margin-bottom: calc(8 * var(--spacing-unit));
  text-align: center;
}

.callout p {
  margin-bottom: 0;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 
                0 2px 2px rgba(0, 0, 0, .075), 
                0 4px 4px rgba(0, 0, 0, .075), 
                0 8px 8px rgba(0, 0, 0, .075), 
                0 16px 16px rgba(0, 0, 0, .075);
}

.wrapper {
  margin-inline: auto;
  max-width: 90%;
  /*
  width: 864px;
  width: 928px;
  */
  /*width: 992px;*/
  /*width: 1024px;*/
  width: 1072px;
}

/* HEADER */
header {
  color: var(--text-emph);
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  grid-area: header;
  margin: calc(8 * var(--spacing-unit)) 0;
  position: relative;
}

header a {
  color: var(--text-emph);
  display: inline-block;
  margin-bottom: var(--spacing-unit);
}

header .active,
header a:hover,
footer a:hover {
  color: var(--text);
  text-decoration: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul a {
  display: block;
}

header nav ul a:before {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background: var(--text-emph);
  border-radius: var(--spacing-unit);
  content: "";
  float: left;
  height: calc(0.25 * var(--spacing-unit));
  left: 0;
  margin-right: var(--spacing-unit);
  position: relative;
  top: calc(1 * var(--spacing-unit));
  width: calc(1.6 * var(--spacing-unit));
}

header nav ul a:hover:before,
header nav ul a.active:before {
  background: var(--text);
  width: calc(4 * var(--spacing-unit));
}

header a:hover span {
  color: var(--text-emph);
}

header .email {
  margin-bottom: calc(5 * var(--spacing-unit));
}

/* UNITS */
main {
  grid-area: main;
  outline: none;
}

body#home main {
  margin-top: calc(5 * var(--spacing-unit));
}

.header {
  margin-bottom: calc(4 * var(--spacing-unit));
}

.content .meta {
  grid-area: meta;
  display: none;
}

.content .meta div ul,
.content .meta div ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content .meta > div {
  margin-bottom: calc(2 * var(--spacing-unit));
}

.content .meta > div h5 {
  margin-bottom: calc(0.5* var(--spacing-unit));
}

.content .main {
  grid-area: body;
  overflow-wrap: break-word;
}


.content .main .section {
  position: relative;
}

.content .main #discover::before {content: "Discover";}
.content .main #define::before {content: "Define";}
.content .main #ideate::before {content: "Ideate";}
.content .main #prototype::before {content: "Prototype";}
.content .main #test::before {content: "Test";}
.content .main #implement::before {content: "Implement";}

.item {
  margin-bottom: calc(2 * var(--spacing-unit));
  vertical-align: bottom;
}

.item a {
  text-decoration: none;
}

.item h4 {
  color: var(--text);
  padding: calc(1 * var(--spacing-unit)) 0 0 0;
  position: relative;
}

.item h4 span {
  color: var(--text-emph);
  display: block;
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  visibility: hidden;
}

.item a:hover h4 span {
  visibility: visible;
}

.item h4 svg {
  position: absolute;
  right: 0;
  top: 9px;
  visibility: hidden;
}

.item a:hover h4 svg {
  visibility: visible;
}

.item img {
  height: 100%;
  min-height: 100%;
  /*max-width: 100%;*/
  width: auto;
}

/* HOME INTRO */
.intro {
  margin-bottom: calc(3 * var(--spacing-unit));
  position: relative;
}

.intro .hero {
  grid-area: image;
  position: relative;
}

.intro .hero img {
  border-radius: var(--spacing-unit);
  object-fit: cover;
}

.intro .hero .caption {
  color: var(--text-emph);
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  margin-bottom: calc(3 * var(--spacing-unit));
  margin-top: var(--spacing-unit);
}

.intro .hero svg {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro .text {
  background: var(--body-bg);
  border-radius: 0 calc(0.75 * var(--spacing-unit)) 0 0;
  grid-area: text;
  position: relative;
  z-index: 2;
}

/* WORK */
  

/* WORK FEATURED */
#featured {
  margin-bottom: calc(8 * var(--spacing-unit));
}

#featured .grid > a {
  display: block;
  margin-bottom: 24px;
  text-decoration: none;
}

#featured .grid > a .img {
  /*border: 1px solid var(--border);*/
  border-radius: calc(1 * var(--spacing-unit));
  display: inline-block;
  max-height: 441px;
  overflow: hidden;
  width: 100%;
}

#featured .grid a .img img {
  transition: transform 0.5s ease-in-out;
}

#featured .grid a:hover .img img {
transform: scale(1.1);
}

.text h4 {
  color: var(--text);
  font-size: var(--font-size-four);
  position: relative;
}

.text h4 span {
  color: var(--text-emph);
  display: block;
  font-size: var(--font-size-two);
  margin-bottom: calc(-0.5 * var(--spacing-unit));
}

#featured .grid a:hover .text span {
  color: var(--text);
}

/* WORK ARCHIVE */
#archive ul {
  list-style: none;
  padding: 0;
}

#archive ul ul {
  display: block;
  font-size: var(--font-size-two);
  margin-bottom: calc(3 * var(--spacing-unit));
  letter-spacing: -0.016em;
}

#archive ul ul .year {
  color: var(--text-emph);
  padding-top: calc(2.5 * var(--spacing-unit));
}

#archive ul ul .projects .project {
  border-radius: calc(1 * var(--spacing-unit));
  color: inherit;
  display: block;
  padding: calc(3 * var(--spacing-unit));
  text-decoration: none;
  margin: 0 calc(-3 * var(--spacing-unit)) calc(1 * var(--spacing-unit)) calc(-3 * var(--spacing-unit));
}

#archive ul ul .projects .project:hover {
  background: var(--border);
  text-decoration: none;
  border-radius: calc(1 * var(--spacing-unit));
}

#archive ul ul .projects .project:hover .details .text h4 span,
#archive ul ul .projects .project:hover .description p {
  color: var(--text);
}

#archive ul ul .projects .project:last-child .description {
  border-bottom: none;
  margin-bottom: 0;
}

#archive ul ul .projects .project .details .indicator {
  border-radius: calc(0.25 * var(--spacing-unit));
  display: inline-block;
  height: calc(1 * var(--spacing-unit));
  overflow: hidden;
  width: calc(1 * var(--spacing-unit));
  /**/
  display: none;
}

#archive ul ul .projects .project .details .indicator svg {
  visibility: hidden;
}

#archive ul ul .projects .project:hover .details .indicator svg {
  visibility: visible;
}

#featured .grid a.fsqlabs .img,
#archive ul ul .projects .project.fsqlabs .details .indicator {
  background-color: var(--brand-fsqlabs);
}

#featured .grid a.fsqswarm .img,
#archive ul ul .projects .project.fsqswarm .details .indicator {
  background-color: var(--brand-fsqswarm);
}

#featured .grid a.fsqcityguide .img,
#archive ul ul .projects .project.fsqcityguide .details .indicator {
  background-color: var(--brand-fsqcityguide);
}

#archive ul ul .projects .project .details {
  grid-column: 1 / 4;
  display: grid;
  /*
  grid-template-columns: auto 1fr;
  gap: 8px;
  */
}

#archive ul ul .projects .project .details .text {
  display: inline-block;
  margin-top: calc(-0.5 * var(--spacing-unit));
}

#archive ul ul .projects .project .details .text span {
    line-height: 1.2857742857;
    letter-spacing: -0.016em;
    margin: 0;
  }

#archive ul ul .projects .project .description p {
  color: var(--text-emph);
  margin-bottom: 0;
}

/* CASE STUDIES */
#case-study .banner {
  background-color: var(--img-bg);
  /*border: 1px solid var(--border);*/
  border-radius: var(--spacing-unit);
  margin-bottom: calc(4 * var(--spacing-unit));
  overflow: hidden;
}

#case-study .banner.fsqlabs {
  background-color: var(--brand-fsqlabs-light);
}
#case-study .banner.fsqswarm {
  background-color: var(--brand-fsqswarm-light);
}
#case-study .banner.fsqcityguide {
  background-color: var(--brand-fsqcityguide-light);
}

#case-study .banner .banner-container {
  position: relative;
}

#case-study .banner .banner-container:hover {
  cursor: pointer;
}

#case-study .banner .banner-container .banner-container-controls {
  position: absolute;
  bottom: calc(3 * var(--spacing-unit));
  right: calc(3 * var(--spacing-unit));
  visibility: hidden;
}

#case-study .banner .banner-container:hover .banner-container-controls {
  visibility: visible;
}

.banner-container-controls .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(6 * var(--spacing-unit));
    height: calc(6 * var(--spacing-unit));
    background: var(--text-emph);
    border-radius: 100%;
    display: none; /* Hide both icons initially */
}

.banner-container-controls .pause-icon {
    display: flex; /* Show pause icon initially */
}

.banner-container-controls.playing .play-icon {
    display: none;
}

.banner-container-controls.playing .pause-icon {
    display: flex; /* Show pause icon when playing */
}

.banner-container-controls.paused .pause-icon {
    display: none;
}

.banner-container-controls.paused .play-icon {
    display: flex; /* Show play icon when paused */
}

#case-study .banner .banner-container img {
  opacity: 0;
  position: absolute;
  top: 0;
  /* stop flicker in webkit: */
  will-change: opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

#case-study .banner img.active {
  opacity: 1;
}

body#case-study .banner-container .loader {
  width: calc(6 * var(--spacing-unit));
  height: calc(6 * var(--spacing-unit));
  border: 5px solid var(--text-emph);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(-3 * var(--spacing-unit));
  margin-left: calc(-3 * var(--spacing-unit));
}

#case-study .content .main > h2 {
  margin-bottom: calc(3 * var(--spacing-unit));
}

#case-study .content .main > h3 {
  margin-bottom:calc(1 * var(--spacing-unit));
  margin-top: calc(2 * var(--spacing-unit));
  text-transform: inherit;
}

#case-study .content .main h5 + h3 {
  margin-top: 0;
}

#case-study .content .main > h3:first-letter {
  text-transform: uppercase;
}

#case-study .content .main > h5 {
  margin-top: calc(8 * var(--spacing-unit));
}

#case-study .content .main p,
#case-study .content .main .img,
#case-study .content .main figure,
#case-study .content .main table {
  font-size: var(--font-size-three);
  line-height: var(--line-height-three);
  margin-top: 0;
  margin-bottom: calc(2 * var(--spacing-unit));
}

#case-study .content .meta a,
#case-study .content .main a {
  /*
  border-bottom-style: solid;
  border-bottom-width: 1px;
  */
  /*color: #2182EB;*/
  color: var(--link);
  text-decoration: none;
}

#case-study .content .meta a:hover,
#case-study .content .main a:hover {
  text-decoration: underline;
}

#case-study .content .meta a {
  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--spacing-unit));
}

#case-study .content .main > p:first-of-type {
  color: var(--text-emph);
  font-weight: 500;
  margin-bottom: calc(4* var(--spacing-unit));
}

#case-study .content .main figure .bg {
  background-color: var(--img-bg);
  border: 1px solid var(--border);
  border-radius: calc(1 * var(--spacing-unit));
}

#case-study .content .main figure.img div img {
  border-radius: calc(0.25* var(--spacing-unit));
  display: block;
  min-height: 100%;
}

#case-study .content .main .img div.multi {
  display: flex;
  justify-content: space-between;
}

#case-study .content .main .img div.multi.row {
  flex-direction: row;
}

#case-study .content .main .img div.multi.col {
  flex-direction: column;
}

#case-study .content .main .img div.multi > div {
  flex: 1 1 0;
  max-width: 100%;
}

#case-study .content .main .img div.multi.row > div {
  border: 1px solid var(--border);
  border-radius: calc(1* var(--spacing-unit));
  margin-right: calc(2 * var(--spacing-unit));
  overflow: hidden;
}

#case-study .content .main .img div.multi.row > div:last-child {
  margin-right: 0;
}

#case-study .content .main .img div.multi.col > div {
  margin-bottom: calc(2 * var(--spacing-unit));
}

#case-study .content .main .img div.multi.col > div:last-child {
  margin-bottom: 0;
}

#case-study .content .main .img div.padding {
  padding: calc(2 * var(--spacing-unit));
}

/*
#case-study .content .main .img div.padding {
  padding: calc(5 * var(--spacing-unit));
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 16px;
}

#case-study .content .main figure.img div.padding img {
  border-radius: 8px;
}
*/


#case-study .content .main .img > div img {
  display: block;
}

#case-study .content .main figure blockquote p:last-child {
  margin-bottom: 0;
}

#case-study .content .main figure blockquote p {
  /*
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
  font-size: var(--font-size-two);
  */
  font-style: italic;
}

#case-study .content .main figure blockquote p:before {
    color: var(--text-emph);
    content: "“";
    display: inline-block;
    margin-left: -.7em;
    padding-right: .07em;
    text-align: right;
    width: .7em;
}

#case-study .content .main figure blockquote p:after {
  -moz-column-break-before: avoid;
  break-before: avoid;
  color: var(--text-emph);
  content: "”";
}

#case-study .content .main figure blockquote + figcaption {
  color: var(--text-emph);
  /*padding-left: calc(3 * var(--spacing-unit));*/
  text-align: left;
}

#case-study .content .main figure blockquote + figcaption:before {
  content: "\2014";
  position: relative;
}

#case-study .content .main ul {
  list-style-type: none;
  padding-left: 0;
}

#case-study .content .main ul li {
  /*
  padding-left: calc(3 * var(--spacing-unit));
  */
  padding-bottom: calc(2 * var(--spacing-unit));
}

#case-study .content .main ul li:before {
  display: inline-block;
  color: var(--border);
  content: "—";
  padding-right: calc(1 * var(--spacing-unit));
  margin-left: calc(-3 * var(--spacing-unit));
}

#case-study .content .main ul li:last-child {
  padding-bottom: 0; /* Suppress the bottom padding */
}

#case-study .content .main table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  border: 1px solid var(--border);
  border-radius: calc(1 * var(--spacing-unit));
  overflow: hidden;

  padding: calc(1 * var(--spacing-unit)) calc(2 * var(--spacing-unit)) calc(2 * var(--spacing-unit));
}

#case-study .content .main table thead {
  display: table-header-group;
}

#case-study .content .main table thead tr th {
  font-weight: 600;
  height: 56px;
}

#case-study .content .main table thead tr th,
#case-study .content .main table tr td {
  padding: calc(2 * var(--spacing-unit));
  vertical-align: top;
  border: none;
}

/*
#case-study .content .main table thead tr th {
  background: rgba(236,236,241,.2);
  border-bottom: 1px solid var(--border);
}
*/ 

#case-study .content .main table tbody tr:nth-child(odd) {
  background: var(--img-bg);
}

/*
#case-study .content .main table tr td {
  align-items: center;
  justify-content: center;
}
*/

#case-study .content .main table tr td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#case-study .content .main table tr td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#case-study .content .main table tr:last-child td {
  border-bottom: none;
}

#case-study .content .main table thead tr th:first-child,
#case-study .content .main table tr td:first-child {
  border-left-width: 0;
}

#case-study .content .main table tr td span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999em;
  vertical-align: middle;
}

/* https://yoksel.github.io/url-encoder/ */
.icon-check-yes {
  background-color: var(--text);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 6.00002L5.83364 11L14.5 1' stroke='%23232426' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  -webkit-mask-size: 16px;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 6.00002L5.83364 11L14.5 1' stroke='%23232426' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  mask-size: 16px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.icon-check-no {
  background-color: var(--text);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.343278 10.2423C-0.0472467 10.6329 -0.0472467 11.266 0.343278 11.6566C0.733802 12.0471 1.36697 12.0471 1.75749 11.6566L6.00026 7.41378L10.2432 11.6567C10.6337 12.0473 11.2669 12.0472 11.6574 11.6567C12.0479 11.2662 12.0479 10.633 11.6574 10.2425L7.41447 5.99957L11.657 1.75706C12.0475 1.36653 12.0475 0.733369 11.657 0.342845C11.2665 -0.0476796 10.6333 -0.0476799 10.2428 0.342845L6.00026 4.58536L1.75792 0.343017C1.36739 -0.0475071 0.734229 -0.0475071 0.343705 0.343017C-0.0468194 0.733541 -0.0468194 1.36671 0.343705 1.75723L4.58605 5.99957L0.343278 10.2423Z' fill='%23232426'/%3E%3C/svg%3E");
  -webkit-mask-size: 12px;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.343278 10.2423C-0.0472467 10.6329 -0.0472467 11.266 0.343278 11.6566C0.733802 12.0471 1.36697 12.0471 1.75749 11.6566L6.00026 7.41378L10.2432 11.6567C10.6337 12.0473 11.2669 12.0472 11.6574 11.6567C12.0479 11.2662 12.0479 10.633 11.6574 10.2425L7.41447 5.99957L11.657 1.75706C12.0475 1.36653 12.0475 0.733369 11.657 0.342845C11.2665 -0.0476796 10.6333 -0.0476799 10.2428 0.342845L6.00026 4.58536L1.75792 0.343017C1.36739 -0.0475071 0.734229 -0.0475071 0.343705 0.343017C-0.0468194 0.733541 -0.0468194 1.36671 0.343705 1.75723L4.58605 5.99957L0.343278 10.2423Z' fill='%23232426'/%3E%3C/svg%3E");
  mask-size: 12px;
  mask-position: center;
  mask-repeat: no-repeat;
}

/* MARGINALIA  */
#case-study .content .main p {
  position: relative;
}

#case-study .content .main p .aside-anchor {
  color: var(--text-emph);
  counter-increment: aside-counter;
  font-size: var(--font-size-one);
  line-height: inherit !important;
  /*padding-left: calc(0.5 * var(--spacing-unit));*/
  position: relative;
  top: -8px;
}

#case-study .content .main p .aside .aside__content::before {
    content: " (";
}

#case-study .content .main p .aside .aside__content::after {
    content: ")";
}

/* new please format */
.quotes {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Max 2 per row */
  gap: calc(2 * var(--spacing-unit)); /* Spacing between columns */
  padding: 0;
  list-style: none;
}

#case-study .content .main .quotes li {
  background: var(--body-bg);
  background-color: var(--img-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Ensures content is always at the bottom */
  border-radius: calc(0.5 * var(--spacing-unit));
  border: 1px solid var(--border);
  color: var(--text-emph);
  font-size: var(--font-size-two);
  font-weight: 600;
  padding: 104px 24px 24px 24px;
}

#case-study .content .main ul.quotes li:before {
  display: none;
}

#case-study .content .main ul.quotes li:last-child {
  padding-bottom: calc(2 * var(--spacing-unit));
}

.quotes li strong {
  color: var(--text);
  display: block;
}

.quotes li .persona {
  background: var(--border);
  border-radius: calc(0.5 * var(--spacing-unit));
  display: block;
  width: 80px;
  height: 96px;
  margin-bottom: calc(1 * var(--spacing-unit));
  overflow: hidden
}

.quotes li .persona svg {
  height: auto;
  max-width: 100%;
}

.quotes li .persona svg path {
  fill: var(--text);
}

/* TICKETS */
#reading .gallery,
#tickets .gallery {
  list-style: none;
  padding: 0;
}

.ticket img {
  height: auto;
}

/* READING */
.book img {
  height: 320px;
  min-height: auto;
  height: auto;
  object-fit: contain;
  object-position: left bottom;
}

/* FOOTER */
footer[role=contentinfo] {
  color: var(--text-emph);
  font-size: var(--font-size-two);
  line-height: var(--line-height-two);
  grid-area: footer;
  margin: calc(8 * var(--spacing-unit)) 0;
  position: relative;
}

footer[role=contentinfo] a {
  color: var(--text-emph);
  text-decoration: none;
}

footer[role=contentinfo] a:hover,
footer[role=contentinfo] a.active {
  color: var(--text);
}

footer[role=contentinfo] ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer[role=contentinfo] li a {
  display: inline-block;
  text-decoration: none;
}

footer[role=contentinfo] a svg {
  vertical-align: top;
}

footer[role=contentinfo] a svg path {
  stroke: var(--text-emph);
}

footer[role=contentinfo] a:hover svg path {
  stroke: var(--text);
}


/* body specific styles */
body#error .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0;
  height: 8px;
}

body#error #error-strip {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*
#blog article > div ,
#blog-post article > div {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(  --font-size-four);
  line-height: 140%;
}
*/

@media screen and (min-width: 480px) {
  header .email { display: none; }

  body#case-study .banner-container {
    height: 290px;
  }
}

@media screen and (min-width: 540px) {
  body#case-study .banner-container {
    height: 330px;
  }
}


@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    display: grid;
    grid-gap: 0 calc(3 * var(--spacing-unit));
  }

  header .email {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .intro {
    grid-template-areas:
      "image image image image"
      "text text text text";
  }

  body#case-study .banner-container {
    height: 483px;
  }

  .content {
    grid-template-areas:
      "body body"
      "meta meta";
  }

  body#home .content {
    grid-template-areas:
      ". ."
      "body body";
  }

  #featured .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(3 * var(--spacing-unit));
  }

  #featured .grid > a {
      margin-bottom: 0;
  }

  #featured .grid > a .img {
      max-height: 448px;
  }

  .quotes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #tickets .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* MAIN */
  .intro {
    grid-template-areas:
      ". image image image"
      "text text text .";
  }

  .intro .hero .caption {
    top: 0;
    visibility: inherit;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    right: -24px;
    position: absolute;
    margin-top: 0;
  }

  .intro .text {
    margin-top: calc(-16 * var(--spacing-unit));
    padding: calc(2 * var(--spacing-unit)) calc(2 * var(--spacing-unit)) 0 0;
  }

  .content .meta {
    display: block;
    font-size: var(--font-size-two);
    line-height: var(--line-height-two);
  }

  .content {
    grid-template-areas: 
    "meta body body body";
  }

  body#home .content {
    grid-template-areas: 
    ". body body body";
  }

  #case-study .banner {
    margin-left: -48px;
    margin-right: -48px;
  }

  #archive ul {
    margin: calc(-2* var(--spacing-unit)) 0 0 0;
  }

  #archive ul li {
    margin-bottom: 24px;
  }

  #archive ul ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  #archive ul ul .year {
    grid-column: 1 / 3;
  }

  #archive ul ul .projects {
      grid-column: 3 / -1;
  }

  #archive ul ul .projects .project {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 24px;
  }

  #archive ul ul .projects .project .description {
      grid-column: 4 / -1;
  }

  /* MARGINALIA  */
  body#case-study {
    counter-reset: aside-counter;
  }

  body#case-study .banner-container {
    height: 868px;
  }

  #case-study .content .main p .aside-anchor::after {
    content: "[" counter(aside-counter) "]";
  }

  #case-study .content .main p .aside::before {
    content: counter(aside-counter) ".";
    padding-right: calc(0.5 * var(--spacing-unit));
  }

  #case-study .content .main p .aside {
    color: var(--text-emph);
    float: left;
    font-size: var(--font-size-two);
    line-height: var(--line-height-two); 
    /*
    margin-left: calc(-31 * var(--spacing-unit));
    width: calc(28 * var(--spacing-unit));
    */
    margin-left: calc(-34* var(--spacing-unit));
    width: calc(30* var(--spacing-unit));
  }

  #case-study .content .main p .aside .aside__content::before,
  #case-study .content .main p .aside .aside__content::after {
    content: "";
  }
  
  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  } 
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
