<footer role="contentinfo">
    <ul>
        <li>
            <a href="#">
                <svg width="16" height="16" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 18V4" stroke="var(--text-emph)" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 11L11 4L18 11" stroke="var(--text-emph)" stroke-width="2" stroke-linecap="round"/>
                </svg>
                Back To Top
            </a>
        </li>
        <li>
            &copy; 2005–{% year %} Jack Osborne 
        </li>
    </ul>
</footer>